PASSWORD_SALT=changeme
AMAZON_RDS_URL=jdbc:mysql://localhost/bobsgame
AMAZON_RDS_USERNAME=root
AMAZON_RDS_PASSWORD=password
DREAMHOST_SQL_URL=jdbc:mysql://localhost/bobsgame
DREAMHOST_SQL_USERNAME=root
DREAMHOST_SQL_PASSWORD=password
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
EMAIL_HOST=smtp.example.com
EMAIL_USERNAME=user
EMAIL_PASSWORD=pass
EMAIL_PORT=587
